In [4]:
#import libraries that will be used. this is to ensure functions do not need to be loaded later. 
import csv, os, requests, time, pandas as pd, matplotlib.pyplot as plt

#load all variables from the configuration file. using astrisk allows to bring in all of them. 
from config import *

In [5]:
cities_csv = os.path.join("cities.csv")
cities_csv

'cities.csv'

In [19]:
data = pd.read_csv('cities.csv')
data.head()

    Montgomery      Alabama
0       Juneau       Alaska
1      Phoenix      Arizona
2  Little Rock     Arkansas
3   Sacramento   California
4       Denver     Colorado

In [6]:
cities = []
with open(cities_csv, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter="|")
    for row in csvreader:
        cities.append(row[0])

In [7]:
print(cities)

['Montgomery, Alabama', 'Juneau, Alaska', 'Phoenix, Arizona', 'Little Rock, Arkansas', 'Sacramento, California', 'Denver, Colorado', 'Hartford, Connecticut', 'Dover, Delaware', 'Honolulu, Hawaii', 'Tallahassee, Florida', 'Atlanta, Georgia', 'Boise, Idaho', 'Springfield, Illinois', 'Indianapolis, Indiana', 'Des Moines, Iowa', 'Topeka, Kansas', 'Frankfort, Kentucky', 'Baton Rouge, Louisiana', 'Augusta, Maine', 'Annapolis, Maryland', 'Boston, Massachusetts', 'Lansing, Michigan', 'St. Paul, Minnesota', 'Jackson, Mississippi', 'Jefferson City, Missouri', 'Helena, Montana', 'Lincoln, Nebraska', 'Carson City, Nevada', 'Concord, New Hampshire', 'Trenton, New Jersey', 'Santa Fe, New Mexico', 'Raleigh, North Carolina', 'Bismarck, North Dakota', 'Albany, New York', 'Columbus, Ohio', 'Oklahoma City, Oklahoma', 'Salem, Oregon', 'Harrisburg, Pennsylvania', 'Providence, Rhode Island', 'Columbia, South Carolina', 'Pierre, South Dakota', 'Nashville, Tennessee', 'Austin, Texas', 'Salt Lake City, Utah', 'Montpelier, Vermont', 'Richmond, Virginia', 'Olympia, Washington', 'Charleston, West Virginia', 'Madison, Wisconsin', 'Cheyenne, Wyoming']

In [12]:
cusines_data = pd.read_csv('cuisines.csv')
#cusines_data

         American
0         Mexican
1         Chinese
2        Japanese
3          Indian
4         Italian
5           Cajun
6            Soul
7            Thai
8           Greek
9        Lebanese
10       Moroccan
11  Mediterranean
12         French
13        Spanish
14         German
15         Korean
16     Vietnamese
17        Turkish
18      Caribbean
19      Ethiopian

In [6]:
#second will be cuisines that were selected
cuisines_csv = os.path.join("cuisines.csv")

#prepare our variable to store the cities
cuisines = []

#load our cities into the variable created. 
with open(cuisines_csv, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter="|")
    for row in csvreader:
        cuisines.append(row[0])

In [7]:
print(cuisines)

['American', 'Mexican', 'Chinese', 'Japanese', 'Indian', 'Italian', 'Cajun', 'Soul', 'Thai', 'Greek', 'Lebanese', 'Moroccan', 'Mediterranean', 'French', 'Spanish', 'German', 'Korean', 'Vietnamese', 'Turkish', 'Caribbean', 'Ethiopian']

In [10]:
#set our url to the api provided by help using our config file that has all this information. 
#All Yelp Fusion API endpoints are under https://api.yelp.com/v3.
url = api_url + search_path 
#set our header variable data to allow us to pass in the GET to yelp's api.
headers = {'Authorization': 'Bearer ' + ykey}
#prepare our variable to catch all the help data extracted form the API
cuisine_data = []
print(url)

https://api.yelp.com/v3/businesses/search

In [ ]:
#prepare our first loop for cities
for city in cities:
    
    #prepare out second loop for cities
    for cuisine in cuisines: 
        
        #load our parameters using the variables needed to make a successful call. 
        params = {'term': cuisine, 'location': city, 'limit': 50}
        
        #send the request to yelp API with our search critera and header
        response = requests.get(url, headers=headers, params=params).json()
        
        #prepare to take the response and loop through the businesses to store the results
        for r in range(len(response["businesses"])):
            
            #provide evidence that the api is working and/or printing, this was used for troubleshooting.
            #print(city + cuisine)
            
            #check if there are no business is the response. 
            if len(response["businesses"]) != 0:
                
                #create the dictionary that will be used to mind the data captured. 
                capture_dict = {
                        "search_city": city,
                        "search_cuisine": cuisine,
                }  
                
                #verify that our captured attributes exist in the response, if not, add to the response as outlined
                if 'id' in response['businesses'][r].keys():
                    capture_dict["y_id"] = response['businesses'][r]['id']
                else: 
                    capture_dict["y_id"] = 'NA'
                    
                if 'name' in response['businesses'][r].keys():
                    capture_dict["name"] = response['businesses'][r]['name']
                else: 
                    capture_dict["name"] = 'NA'
                    
                if 'image_url' in response['businesses'][r].keys():
                    capture_dict["image_url"] = response['businesses'][r]['image_url']
                else: 
                    capture_dict["image_url"] = 'NA'
                    
                if 'url' in response['businesses'][r].keys():
                    capture_dict["url"] = response['businesses'][r]['url']
                else: 
                    capture_dict["url"] = 'NA'
                    
                if 'is_closed' in response['businesses'][r].keys():
                    capture_dict["closed"] = response['businesses'][r]['is_closed']
                else: 
                    capture_dict["closed"] = 'Unknown'
                    
                if 'review_count' in response['businesses'][r].keys():
                    capture_dict["review_count"] = response['businesses'][r]['review_count']
                else: 
                    capture_dict["review_count"] = 0
                    
                if 'rating' in response['businesses'][r].keys():
                    capture_dict["rating"] = response['businesses'][r]['rating']
                else: 
                    capture_dict["rating"] = ''
                    
                if 'price' in response['businesses'][r].keys():
                    capture_dict["price"] = response['businesses'][r]['price']
                else: 
                    capture_dict["price"] = ''
                    
                if 'latitude' in response['businesses'][r]['coordinates'].keys():
                    capture_dict["lat"] = response['businesses'][r]['coordinates']['latitude']
                else: 
                    capture_dict["lat"] = ''
                    
                if 'longitude' in response['businesses'][r]['coordinates'].keys():
                    capture_dict["long"] = response['businesses'][r]['coordinates']['longitude']
                else: 
                    capture_dict["long"] = ''
                    
                if 'address1' in response['businesses'][r]['location'].keys():
                    capture_dict["add1"] = response['businesses'][r]['location']['address1']
                else: 
                    capture_dict["add1"] = ''
                    
                if 'city' in response['businesses'][r]['location'].keys():
                    capture_dict["city"] = response['businesses'][r]['location']['city']
                else: 
                    capture_dict["city"] = ''
                    
                if 'state' in response['businesses'][r]['location'].keys():
                    capture_dict["state"] = response['businesses'][r]['location']['state']
                else: 
                    capture_dict["state"] = ''
                    
                if 'zip_code' in response['businesses'][r]['location'].keys():
                    capture_dict["zip_code"] = response['businesses'][r]['location']['zip_code']
                else: 
                    capture_dict["zip_code"] = ''
                    
                if 'country' in response['businesses'][r]['location'].keys():
                    capture_dict["country"] = response['businesses'][r]['location']['country']
                else: 
                    capture_dict["country"] = ''
                    
                if 'display_phone' in response['businesses'][r].keys():
                    capture_dict["disp_ph"] = response['businesses'][r]['display_phone']
                else: 
                    capture_dict["disp_ph"] = ''
                    
                #capture the data into the dictionary
                cuisine_data.append(capture_dict)
                
#create the data frame for the captured data
yelp_data = pd.DataFrame(cuisine_data)

#print the data to review, this did not happen because we printed the loop detail. 
yelp_data.head(5)

In [ ]:
#now we are going to write the data to the CSV so we can use in the module. 
#this was done to ensure we did not keep calling the API for our testing and data review.  
yelp_data.to_csv("yelpapidata.csv", index=False, header=True)